/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'DM Serif Display', serif;
}

body{
  background-color: yellow;
  width: 100%;
  height: 100vh;
  background: var(--light);
}

:root{
  --primary-bk: #292F36;
  --primary-yl: #CDA274;
  --primary-wh: #F4F0EC;
  --fade-yl: #F4F0EC;
  --para-text: #4D5053;
  --dark: #000;
  --light: #fff;
  --jost-font: 'Jost', sans-serif;

}

/* clases  */
.contain{
  padding-left: 70px;
  padding-right: 70px;
}
/* --------------------------
        Buttons 
-----------------------------*/
.btn{
  padding: 18px 40px;
  font-size: 18px;
  font-family: var(--jost-font)!important;
  color: var(--light);
  text-decoration: none;
  border-radius: 18px;
}
.btn span{
  font-family: var(--jost-font);
  letter-spacing: 1px;
}
.b-btn i{
  color: var(--primary-yl);
  font-size: 18px;
  transform: translate(10px);
}

.b-btn{
  background-color: var(--primary-bk);
}
.yl-btn{
  background-color: var(--primary-yl);
}


/* --------------------------
        header section  
-----------------------------*/
header{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1px solid black; */
}

nav .nav-logo{
  font-size: 40px;
  color: var(--primary-bk);
}

nav .nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 25px;
}
nav .nav-link a{
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-bk);
  font-family: var(--jost-font);
}

/* --------------------------
        main section  
-----------------------------*/

.main-head{
  font-size: 65px;
  color: var(--primary-bk);
}
.main-para{
  color: var(--para-text);
  font-size: 22px;
  font-family: var(--jost-font);
}

main{
  background: url(./media/main-pic.png);
  clip-path: inset(0 0 0 0 round 0% 0% 0% 18%);
  flex: 1;
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .btn{
  margin-top: 10px;
}

/* --------------------------
        work process wp-sec
-----------------------------*/
.wp-sec{
  padding-top: 60px;
  padding-bottom:60px;
}

.wp-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.wp-sec-card{
  width: 300px;
  text-align: center;
}

.wp-sec-card p,
.wp-sec-card div{
  font-family: var(--jost-font);
  font-size: 22px;
  color: var(--para-text);
  margin: 10px 0px 15px 0px;
  font-weight: lighter;
}
.wp-sec-card div{
  cursor: pointer;
  /* transition: all 1s linear; */
}
.wp-sec-card div:hover{
  text-decoration: underline black;
}
.wp-sec-card div span{
  font-family: var(--jost-font);
  font-weight: bold;
  font-size: 18px;
}
.wp-sec-card div i{
  color: var(--primary-yl);
  font-size: 18px;
}
.wp-sec-card h3{
  font-size: 25px;
  font-weight: 400;
}


/* --------------------------
        call to action ca-sec
-----------------------------*/
.ca-sec{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ca-txt{
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.ca-txt h1{
  font-size: 50px;
  color: var(--primary-bk);
  letter-spacing: 1px;
}
.ca-para{
  color: var(--para-text);
  font-family: var(--jost-font)!important;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 10px
}
.ca-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px 10px;
  padding: 10px 0px;
  margin-bottom: 15px;
  margin-top: 10px;
  /* border: 1px solid black; */
}
.ca-info i{
  padding: 25px;
  background-color:var(--fade-yl);
  border-radius: 50%;
  font-size: 25px;
  color: var(--primary-yl);
}
.ca-info span div:nth-child(1){
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primary-bk);
  font-family: var(--jost-font);
}
.ca-info span div:nth-child(2){
  font-size: 21px;
  /* font-weight: bold; */
  /* letter-spacing: 1px; */
  color: var(--primary-bk);
  font-family: var(--jost-font);
}
.ca-img{
  background: url(./media/photo-1.png);
  background-position: center center;
  background-size: cover;
  width: 600px;
  height: 600px;
  clip-path: inset(0 0 0 0 round 0% 0% 0% 18%);
}

/* --------------------------
        call to action ca-sec
-----------------------------*/
.tst-sec-wrapper{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--fade-yl);
  border-radius: 50px;
}
.tst-head{
  font-size: 50px;
  text-align: center;
  color: #292F36;
  margin-bottom: 30px;
}

.tst-card-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.tst-card{
  background-color: #fff;
  padding: 30px 20px;
  max-width: 300px;
  border-radius: 20px;
}

.tst-card-head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px 20px;
  margin-bottom: 20px;
}
.tst-card-head img{
  width: 60px;
  border-radius: 50%;
}
.tst-card-head span div:nth-child(1){
  font-size: 22px;
  letter-spacing: 1px;
  color: #292F36;
}
.tst-card-head span div:nth-child(2){
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--para-text);
  font-family: var(--jost-font);
}
.tst-card-txt{
  font-family: var(--jost-font);
  font-size: 20px;
  color: var(--para-text);
}

/* --------------------------
        client section
-----------------------------*/
.client-sec{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
/* --------------------------
        contact section cnt
-----------------------------*/

.cnt-wrapper{
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-bk);
  border-radius: 30px;
}
.cnt-wrapper h1{
  font-size: 50px;
  color: var(--light);
  letter-spacing: 3px;
}
.cnt-wrapper p{
  font-size: 22px;
  color: var(--light);
  font-family: var(--jost-font);
  letter-spacing: 1px;
  margin-bottom: 20px;
}